<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="main">
      <h1><%= kindOfDay %> LIST</h1>
      <form action="/" class="form" method="post">
        <input
          id="inputtask"
          type="text"
          name="newList"
          placeholder="Enter your task here"
          autocomplete="off"
        />
        <input id="addbutton" value="Add Task" type="submit" />
      </form>
      <ol class="todolist">
        <% for(var i = 0; i < newListItems.length; i++){ %>
        <span>
          <input type="checkbox" />
          <li><%= newListItems[i] %></li>
        </span>
        <% } %>
      </ol>
      <button class="clear d-none">Clear All</button>
    </div>
  </body>
</html>
